<h1 class="heading">Log In</h1>

<text id="error_messages">
<% if @errors %>
  <% @errors.each do |error| %>
  <%= error %>
  <% end %>
<% end %>
</text>

<form method="post" action="/sessions">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log In" class="button">
</form>
