<form id="answer-comment-form" method="post" action="/answers/<%= @answer.id %>/comments">
  <label for "comment_body">Comment:</label>
  <input id="comment_body" type="text" name="body" placeholder="Your Answer Comment Here" required>
  <input class="button" type="submit" value="Make a Comment">
</form>


  <%if @errors%>
<ul>
    <%@errors.each do |error| %>
<li><%error.full_message%></li>
    <%end%>
  <%end%>
</ul>
