/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Open+Sans+Condensed:300,700);

#user_show_bio {
    font-size: 24px;
    font-style: italic;
    font-style: bold;
    color: red;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: white;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 300px;
}




#logo-header-img {
    width: 60%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-color: white;
    border-bottom: 1px solid gray;

}

.home-links {
    background-color: white;
    font-size: 50px;
    color: #EF6C33;
}


.home-links:hover {
    font-size: 60px;
    color: #8F8B8B;
}


.home-links:visited {
    font-size: 30px;
    color: #0C4A60;
}

#login-toolbar {
    /*background-color: white;*/
    position: absolute;
    margin-left: 1000px;
    padding-bottom: 100px;
    font-size: 50px;

}



#content {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    max-width: 37em;
    position: relative;
    top: 400px;
    width: 61.8%;
    margin-bottom: 150px;
}


body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 200%;
    line-height: 275%;
}

h1, h2, h3, h4, h5, h6 {
    line-height:100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #D10000;
    color: #36AECC;
    font-style: italic;
    font-weight: 400;
}


p{
    line-height: 40px;
}


p#q_show_user_name-date {
    font-size: 20px;
    line-height: 40px;
}

div#answer_username {
    font-size: 20px;
    line-height: 40px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

.h2-sub-heading {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    font-style: normal;
    font-size: 60px;

}

.h3-sub-heading {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    font-style: normal;
    font-size: 40px;

}



p, pre, blockquote, table, ul, ol, dl {
    margin-top: .5em;
    margin-bottom: .5em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    margin: 0.3em auto;
}

ul {
    margin-left: .5em;
    padding-left: 0.5em;
}

dt {
    font-weight: bold;
}

img {
    border: none;
}

pre {
    border-left: 1px solid #ccc;
    margin-left: 0em;
    padding-left: 0.5em;
}

blockquote {
    padding: 0.3em;
    background-color: #E8F2F5;
    margin-left:0.5em;
    margin-right:0;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.3em;
}

th {
    background-color: #f0f0f0;
}

hr {
    border: none;
    border-top: 1px solid #E8F2F5;
    width: 100%;
}

del {
    text-decoration: line-through;
    color: #777777;
}

#new_q_link {
    margin-left: 35px;
    font-size: 40px;
    text-decoration: none;
     padding: 10px 15px;
    background: #0C4A60;
    color: #EF6C33;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


.toc li {
    list-style-type: none;
}

.todo {
    font-weight: bold;
    background-color: #f0ece8;
    color: #a03020;
}

.justleft {
    text-align: left;
}

.justright {
    text-align: right;
}

.justcenter {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-size: 0.7em;
    margin-top: 2em;
}


a {
    color: #0C4A60;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover {
    color: #8F8B8B;
    text-decoration: underline;
}


#error_messages {
    color: red;
}


code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    background-color: #E8F2F5;
    font-size: 40%;
    line-height: 1.4em;
    margin-left: -1em;
    overflow: auto;
}

textarea {
    resize: none;
}

#upvote-container {
    color: blue;

}

#downvote-container {
    color: red;
}

.comment_block {
    font-size: 30px;
    line-height: 60px;
}

#answer_container {
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid red;
}

#answer_form {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}

span.q_stat {
    font-size: 25px;
    background-color: #1497B8;
    display: inline-block;
}

.question_in_list {
    list-style-type: none;
    border-top: 1px solid gray;
    padding-top: 14px;
}


.single_tag {
    font-size: 24px;
/*    padding-left: 10px;
    padding-right: 10px;
*/    background: #EF6C33;
    padding: 10px;
    border-radius: 5px;
    line-height: 10px;
}

.tag_link:link {
    color: white;
    text-decoration: none;
}

.tag_link:visited {
    color: white;
    text-decoration: none;
}

.count, .counted {
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    padding: 3px;

}

.q_stat {
    background: #90C5A9;
    padding: 5px;
    border-radius: 5px;
}


.q_title {
    font-size: 45px;
    margin-left: 30px;
    color: #0C4A60;
    text-decoration: none;
}

.q_title:hover {
    margin-left: 30px;
    color: #8F8B8B;
}


.q_title:visited {
    margin-left: 30px;
    color: #0C4A60;
    text-decoration: none;
}


#created_by {
    font-size: 20px;
    margin-left: 40px;

}


.heading {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    border-bottom: 1px solid gray;
}

#up-vote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

#down-vote-button {
      background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;


}


#q_show_page_tags {

    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    background: #EF6C33;
    padding: 5px;
    border-radius: 5px;
    line-height: 10px;
}

.button {
    width: 400px;
    color: #ABDFF1;
    background: #1497B8;
    background-image: -webkit-linear-gradient(top, #1497B8, #0C4A60);
    background-image: -moz-linear-gradient(top, #1497B8, #0C4A60);
    background-image: -ms-linear-gradient(top, #1497B8, #0C4A60);
    background-image: -o-linear-gradient(top, #1497B8, #0C4A60);
    background-image: linear-gradient(to bottom, #1497B8, #0C4A60);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    -webkit-box-shadow: 8px 1px 10px #666666;
    -moz-box-shadow: 8px 1px 10px #666666;
    box-shadow: 8px 1px 10px #666666;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}


.button:hover {
  background: #0c4a60;
  width: 400px;
  color: #EF6C33;
  background-image: -webkit-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: -moz-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: -ms-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: -o-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: linear-gradient(to bottom, #0c4a60, #8f8b8b);
  text-decoration: none;

}


#new_q_link {
    color: #ABDFF1;
    background: #1497B8;
    background-image: -webkit-linear-gradient(top, #1497B8, #0C4A60);
    background-image: -moz-linear-gradient(top, #1497B8, #0C4A60);
    background-image: -ms-linear-gradient(top, #1497B8, #0C4A60);
    background-image: -o-linear-gradient(top, #1497B8, #0C4A60);
    background-image: linear-gradient(to bottom, #1497B8, #0C4A60);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 10px;
    -webkit-box-shadow: 8px 1px 10px #666666;
    -moz-box-shadow: 8px 1px 10px #666666;
    box-shadow: 8px 1px 10px #666666;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#new_q_link:hover {
  background: #0c4a60;
  color: #EF6C33;
  background-image: -webkit-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: -moz-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: -ms-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: -o-linear-gradient(top, #0c4a60, #8f8b8b);
  background-image: linear-gradient(to bottom, #0c4a60, #8f8b8b);
  text-decoration: none;
}

.top-of-content {
    margin-bottom: 100px;
    margin-top: 100px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #ABDFF1;
    border: 3px solid #EF6C33;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=password]:focus {
    background-color: #ABDFF1;
    border: 3px solid #EF6C33;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea:focus {
    background-color: #ABDFF1;
    border: 3px solid #EF6C33;
}

.form_label {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-style: normal;
    font-size: 50px;
    color: #1497B8;
}

#vote-container {
    width: 20%;
    height: 180px;
    float: right;
}

.new-up-vote {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 2%;
}

.new-down-vote {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 13%;
}

#up-vote-button {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 30px solid #1497b8;
    position: relative;
    top: 50%;
    left: 42%;
}

#down-vote-button {
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 30px solid #8f8b8b;
    position: relative;
    top: 50%;
    left: 42%;
}

.vote-tally {
    padding: 0;
    margin: 0;
    text-align: center;
}
