<form id="edit_form" method="post" action="/questions/<%= @question.id %>/answers/<%= @answer.id %>">
  <input type="hidden" name="_method" value="PUT">
  <label for "edit_answer">Answer:</label>
  <input id="edit_answer" type="text" name="answer[body]" placeholder="Body" value="<%= @answer.body %>">
  <input type="submit" value="update your answer">
</form>


  <%if @errors%>
<ul>
    <%@errors.each do |error| %>
<li><%error.full_message%></li>
    <%end%>
  <%end%>
</ul>
