<h1 class="heading">Tag Questions</h1>
<p>Posted Questions with the Tag: <a href="/tags/<%= @tag.id %>"><%= @tag.name %></a></p>


<% @tag.questions.each do |q| %>
  <ul>
  <li><a href="/questions/<%= q.id %>"><%= q.title %></a></li>
  </ul>
<% end %>
